.cont {
    
        box-sizing: border-box;
        margin-bottom: 3px;
        margin-left: 3px;
        width: 38px;
        text-align: center;
    
    
    
}

.sum {
    size: 36px, 28px;
    padding-right: 4px;
}

.item {

    border-width: 2px;
    border-color:grey}

.rest {

    padding-left: 4px;
}
.primary {

    margin-left: 48px;
    margin-right: 48px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 12px;
}


.titulo {

    text-align: center;
    margin: 8px;
}

.contador {
padding-left: 80px;
margin-bottom: 5px;
}

hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

.price {

font-size: x-large;
margin-bottom: 20px;
}

.bot {

    text-align: center;
    color: green;
}
